body{ display: flex; justify-content: center; }

.contant{ display: flex; justify-content: space-between; width: 600px; flex-direction: column; background-color: rgb(177 170 170); padding: 0 20px; }

.input{ padding: 10px; width: 70%; font-size: 16px; }

button{ padding: 2px 16px; font-size: 16px; cursor: pointer; color: white; border: none; margin-left: 8px; border-radius: 4px; }

#addBtn{ background-color: blue; color: white; }
#addBtn:hover{ background-color: rgb(129, 129, 245); }

#updBtn{ background-color: rgb(5, 235, 36); color: white; }
#updBtn:hover{ background-color: rgb(118, 161, 101); }

#delBtn{ background-color: rgb(252, 6, 6); }
#delBtn:hover{ background-color: rgb(233, 119, 119); }

ul{ list-style-type: none; padding: 0; margin-top: 20px; }
li{ display: flex; width: 100%; background-color: white; padding: 10px 5px; margin-bottom: 10px; justify-content: space-between; align-items: center; border-radius: 4px; }
#task{ display: flex; width: 100%; }
.task-btn{ display: flex; flex-wrap: nowrap; width: fit-content; }

#updInp{

    width: 100%;
    padding: 3px;
}