.class1{
    font-size: 32px;

}
.class2{
    padding: 5px;
    color: brown;
    width: 60px;
    height: 60px;
    
}
.class3{
    border: 2px solid black;
    
}
.element{
    width: 20px;
  
}
.new{
    width: 40px;
    height: 40px;
    background-color: rgb(0, 255, 98);
}
button{
margin: 40 40;
}
td{ text-align: center;}